<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1069717701409-0kedv8gc4o7u7c3g5tc9st506k71l430.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069717701409-0kedv8gc4o7u7c3g5tc9st506k71l430</string>
	<key>API_KEY</key>
	<string>AIzaSyCYP27faeKE2ltg1c3AUeigdzUofiMuwMA</string>
	<key>GCM_SENDER_ID</key>
	<string>1069717701409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eafit.Moments</string>
	<key>PROJECT_ID</key>
	<string>moments-ef2e4</string>
	<key>STORAGE_BUCKET</key>
	<string>moments-ef2e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069717701409:ios:c30abfe728748258</string>
	<key>DATABASE_URL</key>
	<string>https://moments-ef2e4.firebaseio.com</string>
</dict>
</plist>