<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252367858219-iacf9ct4s3ptidbrtjldm03odim55v0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252367858219-iacf9ct4s3ptidbrtjldm03odim55v0n</string>
	<key>API_KEY</key>
	<string>AIzaSyCCQFV0-6h02L2ynd6uw6x0Qrda8qb2bpU</string>
	<key>GCM_SENDER_ID</key>
	<string>252367858219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edu.eafit.mruiz723.Moments2</string>
	<key>PROJECT_ID</key>
	<string>moments20192</string>
	<key>STORAGE_BUCKET</key>
	<string>moments20192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252367858219:ios:14481d1ed89c4e2fdb186e</string>
	<key>DATABASE_URL</key>
	<string>https://moments20192.firebaseio.com</string>
</dict>
</plist>